:root {
  --grey-700: #333333;
  --grey-800: #1f1f1f;
  --grey-900: #141414;
  --green: #c5f82a;
}
* {
  padding: 0;
}

body {
  background: var(--grey-900);
  text-align: center;
  font-family: "Inter", sans-serif;
  color: white;
  transition: 0.1s ease-in-out;

  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--grey-800);
  border-radius: 0.5rem;
  padding: 2rem;
  max-width: 20rem;
}

.profile {
  border-radius: 50%;
  width: 40%;
}

.name {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 2rem;
}

.location {
  font-size: 1rem;
  font-weight: 600;
  color: var(--green);
  margin-top: 0.5rem;
}

.description {
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 1.5rem;
}

.social-links-list {
  width: 100%;
  margin-top: 0.2rem;
  list-style-type: none;
}

.social-item {
  margin-top: 0.8rem;
  background: var(--grey-700);
  border-radius: 0.4rem;
}

.link {
  display: block;
  padding: 0.8rem 0;

  color: white;

  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}
.social-item:hover {
  background: white;
}

.social-item:hover a {
  color: var(--grey-700);
}

.social-item:active {
  background: var(--green);
}

.social-item:active a {
  color: var(--grey-700);
}
